<aside class="aside  typeset  aside--right">
  <section class="section  section--description">
    {% include figure.html image="/assets/international-journal-of-middle-east-studies.jpg" height="245px" width="173px" %}
    {% include figure.html image="/assets/womens-history-review.jpg" height="245px" width="173px" %}
    {% include figure.html image="/assets/arab-feminisms.jpg" height="245px" width="173px" %}
    {% include figure.html image="/assets/women-in-iraq.jpg" height="245px" width="173px" %}
  </section>
</aside>
