---
title: false
styles: true
---

.aside.aside {
  opacity: initial;
}

.feature .typeset * {
  color: white;
  text-shadow: 0px 0px 20px black;
}

.header .nav {
  flex-grow: 1;
}

@import "alembic";
